<h1><%= @worker_bee.name %>'s Bio</h1>
<h3>WorkerBee ID: <%= @worker_bee.id %></h3>
<h3>Assigned Comb: <a href="<%= comb_url(@comb) %>"><%= @comb.name %></a></h3>
<h3>Supervisor: <%= @supervisor.name %></h3>
<h3>Fovorite Food: <%= @worker_bee.favorite_food %></h3>

<div id="first-chart" style="width: 70%; height: 400px">
  <p>-Unsuccessful load. Try refreshing-</p>
</div>

<script>
    var myChart = Highcharts.chart('first-chart', {
        title: {
            text: gon.worker_name + "'s Metrics"
        },
        xAxis: {
            categories: gon.dates
        },
        yAxis: {
            title: {
                text: 'Amount'
            }
        },
        series: [{
            type: 'column',
            name: 'Nectar (hundreds)',
            data: gon.nectars
        }, {
            type: 'line',
            name: 'Pollen Globs',
            data: gon.pg_values
        }]
    });
</script>

<a href="<%= worker_bees_url %>">Back</a>
