<h1>
  <%= @worker_bee.name %>'s Bio
</h1>
<h3>
  WorkerBee ID: <%= @worker_bee.id %>
</h3>
<h3>
  Assigned Comb: <a href="<%= comb_url(@comb) %>">
    <%= @comb.name %>
  </a>
</h3>
<h3>
  Supervisor: <%= @supervisor.name %>
</h3>
<h3>
  Favorite Food: <%= @worker_bee.favorite_food %>
</h3>

<div id="chart" style="width: 70%; height: 400px"></div>

<table style="width: 70%; height: 400px">
  <tr>
    <th>ID</th>
    <th>ID-CombID</th>
    <th>Date</th>
    <th>PollenGlobs</th>
    <th>Nectar</th>
    <th>Advisement</th>
    <th>% Accepted</th>
  </tr>
  <% @data.each do |entry| %>
    <tr>
      <th><%= @worker_bee.id %></th>
      <th><%= @worker_bee.id %>-<%= @comb.id %></th>
      <th><%= entry.date %></th>
      <th><%= entry.pollen_globs %></th>
      <th><%= entry.nectar %></th>
      <% if entry.advisement %>
        <th><%= entry.advisement %></th>
      <% else %>
        <th>N/A</th>
      <% end %>
      <th>TBD</th>
    </tr>
  <% end %>
</table>
<a href="<%= worker_bees_url %>">Back</a>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    Highcharts.chart('chart', {
        title: {
            text: gon.worker_name + "'s Metrics"
        },
        xAxis: {
            categories: gon.dates
        },
        yAxis: {
            title: {
                text: 'Amount'
            }
        },
        series: [{
            type: 'column',
            name: 'Nectar (hundreds)',
            data: gon.nectars
        }, {
            type: 'line',
            name: 'Pollen Globs',
            data: gon.pg_values
        }]
    });
  });
</script>