<div id="show-container">
  <%# WorkerBee Bio Info %>
  <div id="bio">
    <h1 id="bio-title">
      <%= @worker_bee.name %>'s Identification Page
    </h1>
    <h3 id="bio-worker-id">
      WorkerBee ID: <strong id="bio-value"> 
        <%= @worker_bee.id %>
      </strong>
    </h3>
    <h3 id="bio-worker-comb">
      Assigned Comb: <strong id="bio-value"> 
        <%= @comb.name %> (Sweet Spot: <%= @comb.sweet_spot %>)
      </strong>
    </h3>
    <h3 id="bio-supervisor">
      Supervisor: <strong id="bio-value"> 
        <%= @supervisor.name %>
      </strong>
    </h3>
    <h3 id="bio-fav-food">
      Favorite Food: <strong id="bio-value"> 
        <%= @worker_bee.favorite_food %>
      </strong>
    </h3>
  </div>

  <%# ref for chart %>
  <div id="data-chart"></div>


  <%# table display %>
  <%# enhanced view table %>
  <div id="table-container">
  <button id="toggle-view">Toggle View</button>
    <table id="data-table">
      <tr id="data-table-titles">
        <th>ID</th>
        <th>ID-CombID</th>
        <th>Date</th>
        <th>PollenGlobs</th>
        <th>Nectar</th>
        <th>Advisement</th>
        <th>% Accepted</th>
      </tr>
      <% @data.reverse.each_with_index do |entry, idx| %>
        <tr id="data-table-values">
          <th><%= @worker_bee.id %></th>
          <th><%= @worker_bee.id %>-<%= @comb.id %></th>
          <th><%= entry.date %></th>
          <th><%= entry.pollen_globs %></th>
          <th><%= entry.nectar %></th>
          <% if entry.advisement %>
            <th><%= entry.advisement %></th>
          <% else %>
            <th>N/A</th>
          <% end %>
          <th><%= @percent_accepted[idx] %>%</th>
        </tr>
      <% end %>
    </table>

    <%# regular view table %>
    <table id="data-table-reg-blank">
      <tr id="data-table-titles-reg">
        <th>Date</th>
        <th>PollenGlobs</th>
        <th>Nectar</th>
        <th>Advisement</th>
        <th>Overrule</th>
      </tr>
      <% @data.reverse.each_with_index do |entry, idx| %>
        <tr id="data-table-values">
          <th><%= entry.date %></th>
          <th><%= entry.pollen_globs %></th>
          <th><%= entry.nectar %></th>
          <% if entry.advisement %>
            <th><%= entry.advisement %></th>
            <th>
              <button id="edit-advisement-button">
                <a id="edit-advisement-text" href="<%= edit_data_entry_url(entry) %>">Edit Advisement</a>
              </button>
            </th>
          <% else %>
            <th>N/A</th>
            <th></th>
          <% end %>
        </tr>
      <% end %>
    </table>
    <a id="bio-back-button" href="<%= worker_bees_url %>">Back</a>
  </div>
</div>


<%# table and chart javascript logic %>
<script>
  let toggle = document.getElementById("toggle-view")
  let switched = false

  toggle.addEventListener("click", function () {
    switched = !switched
  
    if (switched) {
      const mainTableShow = document.getElementById("data-table")
      const regTableBlank = document.getElementById("data-table-reg-blank")

      mainTableShow.setAttribute("id", "data-table-blank")
      regTableBlank.setAttribute("id", "data-table-reg")
    } else {
      const mainTableBlank = document.getElementById("data-table-blank")
      const regTableShow = document.getElementById("data-table-reg")

      mainTableBlank.setAttribute("id", "data-table")
      regTableShow.setAttribute("id", "data-table-reg-blank")
    }
  });

  document.addEventListener("DOMContentLoaded", function() {
    Highcharts.chart("data-chart", {
      chart: {
        renderTo: 'container'
      },
      title: {
        text: gon.worker_name + "'s Metrics"
      },
      xAxis: {
        categories: gon.dates
      },
      yAxis: {
        title: {
          text: 'Amount'
        }
      },
      series: [{
        type: 'column',
        name: 'Nectar (hundreds)',
        data: gon.nectars
      }, {
        type: 'line',
        name: 'Pollen Globs',
        data: gon.pg_values
      }]
    });
  });
</script>
<%# <script src="chart.js" /> %>
