<!DOCTYPE html>
<html>
  <head>
    <title>Where'sMyHoney</title>
    <%= csrf_meta_tags %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Enriqueta|Roboto|Alata">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <%= Gon::Base.render_data %>
    <%= include_gon %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
